body {
    min-height: 95vh;
    max-width: 480px;
    background: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    margin: 0 auto;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    width: 90%;
}

input {
    width: 400px;
    height: 3vh;
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px 8px;
    margin: 10px auto;
}

button {
    all: unset;
    width: 400px;
    background: #000;
    color: white;
    border: 1px solid white;
    padding: 3px 8px;
    margin: 10px auto;
    border-radius: 16px;
    text-align: center;
}

.p {
    background: linear-gradient(270deg, #ff69b4, #ff1493, #ff00ff, #ff66cc);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}