@font-face {
    font-family: 'Pixel';
    src: url('res/minecraft_standard/MinecraftStandard.otf') format('opentype');
}

body {
    min-height: 95vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    margin: 0 auto;
    padding: 0;
    background: #ffd1f9;
    scroll-behavior: smooth;
    font-family: 'Pixel';
}

h4 {
    margin: 0;
    letter-spacing: .9px;
    font-size: 12px;
    font-weight: 400;
    color: #330053;
}

.how {
    width: 96%;
    text-align: end;
    padding: .1vh 2vh;
    font-size: 10px;
    height: fit-content;
    background: #973aff;
    color: white;
}

/* #fe2767, #fbff3a, #973aff, #330053 */

.olb {
    width: 88%;
    padding: 1vh 4.5vh; 
    font-size: 33px;
    font-weight: 500;
    color: #fe2767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    line-height: 7.5vh;
}

hr {
    margin: 0;
    border: none;
}

.to-heart {
    width: 90%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff78f8a4;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff3385;
}



.loader {
    position: relative;
    width: 40px;
    height: 60px;
    animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
  
.loader:before,
.loader:after {
    content: "";
    background: #ff5bce ;
    width: 40px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: 50% 68%;
    box-shadow: 5px 4px 5px #0004 inset;
}

.loader:after {
    transform: rotate(-45deg);
}
  
@keyframes heartBeat {
    0% { transform: scale(0.95) }
    5% { transform: scale(1.1) }
    39% { transform: scale(0.85) }
    45% { transform: scale(1) }
    60% { transform: scale(0.95) }
    100% { transform: scale(0.9) }
}

.content {
    width: 100%;
    height: 100%;
    display: none;
}

.content.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    border-top: 1.1vh solid #75007f;    
    border-bottom: 1.1vh solid #f5e5ff;
    margin-top: -1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    background: #fcbaff;
}

.search {
    all: unset;
    font-size: 13px;
    border-top: .3vh solid #75007f;    
    border-bottom: .3vh solid #f5e5ff;
    color: #eac7ff;
    background: #973aff;
    padding-left: 2vh;
    padding-right: 2vh;
    line-height: 3vh;
    font-weight: 500;
    cursor: pointer;
}

.inputs {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.button {
    width: 80%;
    display: flex;
    align-items: baseline;
    justify-content: end;
    height: fit-content;
    margin-top: 1vh;
}

input {
    width: 98%;
    height: 3vh;
    background: #f5e5ff;
    border: none;
    padding: 0px 8px;
}

.messages {
    overflow-y: auto;
    min-height: 30vh;
    max-height: 60vh;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    position: relative;
    margin-bottom: 5vh;
    padding-top: 5vh;
}

.message-item {
    font-size: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #3d003d;
    padding: 10px;
    box-shadow:  
        4px 0 0 #3d003d,
        -4px 0 0 #3d003d,
        0 4px 0 #3d003d, 
        0 -4px 0 #3d003d;
    image-rendering: pixelated;
    height: fit-content;
    min-width: 75%;
    max-width: 75%;
}

.head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: auto;
}

.pin {
    height: 80px;
    width: 80px;
    background-image: url('res/ico_oblove.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.recipient-name {
    color: #330053;
    font-size: 11px;
    font-weight: 200;
}

.strand {
    margin-bottom: 2vh;
    color: #ab00a4;
    font-size: 10px;
}

.sender-name {
    color: #330053;
    font-size: 9px;
}

.message-info {
    width: 80%;
    padding: 0;
}

.body {
    height: fit-content;
    overflow-y: auto;
}

.message {
    min-height: 100px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    overflow: auto;
}

.message-item {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.message-item.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.search-loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.search-loader:before,
.search-loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem #fb67ccc8);
}
.search-loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fb67cc;
    animation-name: pulsIn;
}
.search-loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fb67cc;
}

@keyframes pulsIn {
    0% {
        box-shadow: inset 0 0 0 1rem #fb67cc;
        opacity: 1;
    }
    50%, 100% {
        box-shadow: inset 0 0 0 0 #fb67cc;
        opacity: 0;
    }
}

@keyframes pulsOut {
    0%, 50% {
        box-shadow: 0 0 0 0 #fb67cc;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 1rem #fb67cc;
    }
}

.messages.loading .search-loader {
    display: flex;
}
